#### Submitted by Hengul Akash

#### 1. Write a Python Program to Find the Factorial of a Number?
#### Ans:

In [1]:
def Factorial(n):
    '''Factorial function takes int as argument and returns the factorial of that int.'''
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact

In [2]:
Factorial(5)

120

#### 2. Write a Python Program to Display the multiplication Table?
#### Ans:

In [3]:
n = int(input('Enter a number to get the multiplication table: '))
m = int(input('Which number do you want the multiplication table up to?: '))
for i in range(1, m + 1):
    result = n * i
    print(n, 'x', i, '=', result)

Enter a number to get the multiplication table: 5
Which number do you want the multiplication table up to?: 15
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75

#### 3. Write a Python Program to Print the Fibonacci sequence?
#### Ans:

In [4]:
num = int(input("Enter the maximum range number: "))
a = 1
b = 1
for i in range(1, num):
    if i == 1:
        n = i
    else:
        n = a + b
        a = b
        b = n
    print(n)

Enter the maximum range number: 15
1
2
3
5
8
13
21
34
55
89
144
233
377
610

#### 4. Write a Python Program to Check Armstrong Number?
#### Ans:

In [5]:
num = int(input("Number: "))
length = len(str(num))
total = 0
for i in str(num):
    value = int(i)**length
    total += value
if num == total:
    print(f"{num} is an Armstrong Number.")
else:
    print(f"{num} is not an Armstrong Number.")

Number: 371
371 is an Armstrong Number.

#### 5. Write a Python Program to Find Armstrong Number in an Interval?
#### Ans:

In [6]:
lower, upper = int(input("Lower limit: ")), int(input("Upper limit: "))

for n in range(lower, upper + 1):
    total = 0
    length = len(str(n))
    for i in str(n):
        value = int(i)**length
        total += value
    if n == total:
        print(n)

Lower limit: 100
Upper limit: 10000
153
370
371
407
1634
8208
9474

#### 6. Write a Python Program to Find the Sum of Natural Numbers?
#### Ans:

In [8]:
n = int(input('Num: '))
total = 0
for i in range(n + 1):
    total += i
print(total)

Num: 10
55