#### Submitted by Hengul Akash

In [1]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [6]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

### 1 . Try to reverse a list

In [13]:
# With funciton
l.reverse()

In [14]:
l

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [8]:
# w/o using function 
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

### 2. try to access 234 out of this list

In [19]:
l.reverse()

In [26]:
l[8][234]

[23, 45, 656]

### 3 . try to access 456

In [27]:
l[5][1]

456

### 4 . Try to extract only a list collection form list l

In [29]:
l[6]

[345, 56, 87, 8, 98, 9]

### 5 . Try to extract "sudh"

In [30]:
l[8]["key1"]

'sudh'

### 6 . Try to list all the key in dict element avaible in list

In [32]:
l[8].keys()

dict_keys(['key1', 234])

### 7 . Try to extract all the value element form dict available in list

In [34]:
l[8].values()

dict_values(['sudh', [23, 45, 656]])